@{
    ViewBag.Title = "Index";
}


    <div class="row">
        <div class="large-12 columns">
        
            <br />
            <p class ="th"><img src="~/Images/Banner.jpg" /></p>
        </div>
    </div>


    <div class="row large-12 columns">

    <div class="large-6 columns panel callout radius">
        <h4>Adóptalos.cl</h4>
        <p>Adóptalos es una pagina en la cual podras buscar y darle hogar a una mascota que lo necesita :) .</p>
        
        <p>Si deseas adoptar una mascota comienza buscando aquí. <i class="fi-guide-dog"></i></p>
        <a href="@Url.Action("Find", "Pet")" class=" radius button large">Buscar  <i class="fi-magnifying-glass"></i></a>

        <p>O bien, si deseas poner en adopción una mascota  regístrala en el enlace siguiente: </p>
        <a href="@Url.Action("Add", "Pet")" class=" radius button  large">Registrar Mascota  <i class="fi-plus"></i></a>

    </div>



    <div class="large-6 columns ">
        <ul class="small-block-grid-3">
            <li><a class="th" href="#"><img id="img1" src="~/Images/1.jpg" /></a></li>
            <li><a class="th" href="#"><img src="~/Images/a1.jpg" /></a></li>
            <li><a class="th" href="#"><img src="~/Images/a2.jpg"/></a></li>
            <li><a class="th" href="#"><img src="~/Images/a3.jpg" /></a></li>
            <li><a class="th" href="#"><img src="~/Images/a4.jpg" /></a></li>
            <li><a class="th" href="#"><img src="~/Images/a6.jpg" /></a></li>
            <li><a class="th" href="#"><img src="~/Images/a8.png" /></a></li>
            <li><a class="th" href="#"><img src="~/Images/a3.jpg" /></a></li>
            <li><a class="th" href="#"><img src="~/Images/a2.jpg" /></a></li>
        </ul>
    </div>

</div>








