@model Adopcion.Models.Question

<br />
<br />
<br />
<div class="large-12 columns panel callout radius">
    <h3>Su pregunta ha sido enviada al dueño de la mascota</h3>
    <p>Posteriormente se le enviará un correo electronico al dueño  para que se ponga en contacto con usted.</p> 
    <br />

    <a href="@Url.Action("Index", "Home")" class=" radius button large">Volver  <i class="fi-home"></i></a>

</div>